html, body {
    margin: 0;
    height: 100%;
}

body { 
    background: url('../images/wp.jpg') no-repeat center center fixed;
    background-color: black;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#square-box {
    width: 280px;
}

#logo {
    margin-bottom: 50px;
    pointer-events: none;
}

#exp {
    margin-top: 15px;
    font-family: 'FixedsysExcelsior301Regular';
    pointer-events: none;
}

#exp-perso {
    margin-bottom: 20px;
}

#linked-in {
    height: 50px;
    width: 50px;
    opacity: 0.3;
}
#linked-in:hover {
    opacity: 1;
}

.thumbnail {
    max-width: 100px;
}

.btn-box {
    margin: 0px !important;
    margin-bottom: 4px !important;
    padding: 0px !important;
    border-radius: 3px !important;
}

.img-box {
    border-radius: 3px !important;
    height: 70px;
    width: 70px;
    
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-property: transform;
    transition-property: transform;
    }
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

@font-face {
    font-family: 'FixedsysExcelsior301Regular';
    src: url('fonts/fsex300-webfont.eot');
    src: url('fonts/fsex300-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fsex300-webfont.woff') format('woff'),
         url('fonts/fsex300-webfont.ttf') format('truetype'),
         url('fonts/fsex300-webfont.svg#FixedsysExcelsior301Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing:aliased;
    font-smooth:never;
}